{
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "lodash-fp"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:lodash-fp/recommended"
  ],
  "env": {
    "browser": false,
    "node": true,
    "es6": true
  },
  "rules": {
    "semi": ["warn", "never"],
    "comma-dangle": ["warn", "never"],
    "newline-per-chained-call": ["warn"],
    "object-shorthand": ["warn", "always"],
    "object-curly-spacing": ["warn", "never"],
    "array-bracket-spacing": ["warn", "never"],
    "indent": ["warn", 2, {SwitchCase: 1, VariableDeclarator: 1, outerIIFEBody: 1}],
    "prefer-const": ["warn"],
    "no-console": ["off"],
    "quotes": ["warn", "single"],
    "no-else-return": ["warn"]
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": 'webpack.renderer.development.js'
      }
    }
  }
}
