.tag {
  display: inline-block;
  color: white;
  -webkit-font-smoothing: antialiased;
  background-color: #999;
  font-weight: bold;
  border-radius: 3px;
  padding: 2px 4px;
  line-height: 1em;
  font-size: 0.7em;
  margin: 0 1px;
}
